<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
 
<log4j:configuration debug="false">
	
	<!--<Properties>
        <Property name="basePath">target</Property>
    </Properties>-->

<!-- <appender name="fileAppender" class="org.apache.log4j.FileAppender"> -->
	<appender name="fileAppender" class="org.apache.log4j.DailyRollingFileAppender">

		<param name="Threshold" value="INFO" />

		<param name="File" value="ExecutionLog.log" />
		
		<layout class="org.apache.log4j.PatternLayout">

			<param name="ConversionPattern" value="%d %-5p [%c{1}] %m %n" />
			<!-- <param name="ConversionPattern" value="%d{yyyy-MMM-dd HH:mm:ss,SSS} [%t] %c %x%n  %-5p %m%n"/> -->

		</layout>

	</appender>

	<root>

		<level value="INFO" />

		<appender-ref ref="fileAppender" />

	</root>

</log4j:configuration>